<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GustavoSweb | sobre</title>
  <link rel="stylesheet" href="../public/css/styleS.css">
</head>

<body>
  <div id="parteI">
    <article id="apresentacao">
      <h1>&#x1F44B Oi, saiba um pouco <span class="azul">&lt;sobre/&gt;</span> mim.</h1>
    </article>
    <article id="comeco" class="sobre">
      <h2>Começo</h2>
      <p>
        Meu primeiro contato com progamacao foi em 12/2021. Mas oque me atraiu para essa área foi os bots, bots para discord.
      </p>
    </article>
        <article id="projeto" class="sobre">
      <h2>Projetos</h2>
      <p>
        Já participei de projetos escolares, Onde desenvovi sites e blogs. fiz parte de uma equipe, para criar um bot do discord. E agora participo de uma startup de progamadores.
      </p>
    </article>
    <article id="linguagems" class="sobre">
      <h2>Linguagens que domino.</h2>
    </article>
    <div>
      <article class="card">
        <h2>NodeJS</h2>
      </article>
    </div>

  </div>
</body> 

</html>
