<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GustavoSweb | sobre</title>
  <link rel="stylesheet" href="../public/css/styleS.css">
</head>

<body>
  <div id="parteI">
    <article id="apresentacao">
      <h1>&#x1F44B Oi, saiba um pouco <span class="azul">&lt;sobre/&gt;</span> mim.</h1>
    </article>
    <article id="comeco" class="sobre">
      <h2>Começo</h2>
      <br>
        <p>
          Meu nome é Gustavo e sou um jovem apaixonado por tecnologia. Em dezembro de 2021, aos 15 anos, tive meu primeiro contato com a programação. O que me atraiu para essa área foram os bots, especificamente os bots para Discord.</p>

  Eu estava procurando maneiras de tornar meu servidor do Discord mais interativo e personalizado, e descobri que poderia criar meus próprios bots para ajudar com isso. Fiquei fascinado com a ideia de poder automatizar tarefas e criar recursos personalizados para o meu servidor.
        </p>


    </article>
        <article id="projeto" class="sobre">
      <h2>Projetos</h2>
      <br>
      <p>
        Já participei de projetos escolares, Onde desenvovi sites e blogs. fiz parte de uma equipe, para criar um bot do discord. E agora participo de uma startup de progamadores.
      </p>
    </article>
    <article id="linguagems" class="sobre">
      <h2>Linguagens que domino.</h2>
      <div>
        <article class="card">
           <img src="../public/image/nodejs.png" alt="" srcset="">
        </article>
      </div>
    </article>
  </div>
</body> 

</html>
