@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: white;
  font-weight: normal !important;
}
#parteI{
  background-color: #000;
  height: 100%;
  overflow: hidden;

  font-family: 'Ubuntu Mono';
  
}
#parteI h1{
  margin-top: 2em;
  padding-left: 1em;
  animation: animah 2s 1 forwards;
  font-size: 1.7em; 
}
.azul{
  color: #00FFF8;
}
.sobre{
  margin-bottom: 1em;
  font-size: 30px;
  
}
#apresentacao{
  
  height: 80vh;
  font-size: 2em;
}
@keyframes animah{
  from{
    opacity: 0; 
    transform: translateY(15px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
#projeto, #comeco, #linguagems{
  margin-left: 1em;
  margin-right: 1em;
}
.card{
  margin-top: 1em;
   max-width: 200px;
   width: 20%;
   height: 20%;
   max-height: 200px;
   background-color: #caf7ff;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   border: solid 3px rgb(10, 10, 10);
}
