@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  
}

@media (max-width: 750px){
  #img{
    margin-top: 3em;
  display: none;

  }
}
@media (max-width: 400px){
  #parteI h1{
  font-size: 2em !important;
  max-width: 370px;
  
}

#parteI p{
  font-size: 0.8em !important;
  margin-top: 0.2em;
  max-width: 370px;
}
#parteI{
  padding: 1em;
  
}
#img{
  display: none;
}
}
body{
  background-color: #1D1D1D;
}
#text{
  margin-top: 10%;
  display: flex;
  max-width: 30em;
  align-items: center;
  flex-direction: column;
}
#alinhamento{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 100%
  
}
#parteI{
  position: fixed;
  background-color: #000;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Ubuntu Mono';
}
#parteI h1{
  font-size: 2.5em;
  max-width: 370px;
  opacity: 0;
  animation: animah 2.5s 1 forwards;
  transform: translateY(-30px)
}
#parteI p{
  font-size: 1em;
  margin-top: 0.2em;
  max-width: 370px;
  opacity: 0;
  animation: animah 2.5s 0.1s 1 forwards;
  transform: translateY(-30px)
}
a{
  text-decoration: none;
  color: white;
}
.azul{
  color: #00FFF8;
}

#img{
  position: relative;
  opacity: 0;
  max-width: 12em;
  max-height: 12em;
  width: 23vh;
  height: 23vh;
  border-radius: 50%;
  border: 2px solid #00FFF8;
  
  transform: translateY(15px);
  animation: animah 2.5s 0.2s 1 forwards ease-in-out, anima 1.5s 2s infinite ease-in-out alternate;
  
}

#img:before{
  content: "Se quiser me contratar, me envie um email!";
  display: flex;
  align-items: center;
  width: 23vh;
  height: 23vh;
  max-width: 12em;
  max-height: 12em;
	position: absolute;
	z-index: 10;
	border-radius: 50%;
  background-color: #00FFF8;
  bottom: 0;
  opacity: 0;
  transition: 0.5s linear;
}
#img:hover{
  animation-play-state: paused;
}
#img:hover:before{
	opacity: 1;
  
}
#l1, #l2, #l3, #l4{
  width: 92%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 3;
  border-radius: 50%;
  
}

li:hover{
  border: 2px solid #00FFF8;
  box-shadow: 0px 0px 15px #00FFF8 !important;
  width: 2.2em !important;
  height: 2.2em !important;
}
.l1, .l2, .l3, .l4{
  position: relative;
  overflow: hidden;
}

.l1{
  animation: estrada 1s 1 forwards;
}
.l2{
  animation: estrada 1s 0.1s 1 forwards;
}
.l3{
  animation: estrada 1s 0.2s 1 forwards;
}
.l4{
  animation: estrada 1s 0.3s 1 forwards;
}
@keyframes estrada{
  from{
    transform: translate(-10px, 80%)
  }
  to{
    transform: translate(-10px, -60%)
  }
}
#menu li{
  margin: 0.5em;
  box-shadow: 0px 0px 4px 2px #20202080;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translate(-10px, 80%);
  transition: 0.5s;
}
#menu{
  transform: translate(0, 50%)
}

ul{
  list-style-type: none;
  display: flex;
}
@keyframes anima{
  from{
    transform: translateY(0)
  }
  to{
    transform: translateY(20px)
  }
}
@keyframes animah{
  from{
    opacity: 0;
    transform: translateY(15px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
#butao{
  padding: 0.7em 3.5em 0.7em 3.5em;
  background-color: #6B6B6B;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  position: relative;
  display: flex;
  margin-top: 20%;
  
}
#butao:hover{
  background-color: var(--corButao);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--corButao);
}
#butao:before{
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #323232;
}
#butao span{
  position: relative;
  z-index: 1;
}
#butao i{
  position: relative;
  inset: 0;
  display: block
  
}
#butao:hover i:before{
  width: 0.7em;
  height: 0.7em;
  transform: rotate(20deg);
  background-color: var(--corButao);
}
#butao i:before{
  content: '';
  transition: 0.5s;
  position: absolute;
  left: 33px;
  top: -15px;
  width: 0.7em;
  height: 2.5em;
  border: 2px solid var(--corButao);
  background-color: #323232;
  z-index: 2;
  box-shadow: 0px 0px 8px #000000
}
#esq:before{
  left: -60px !important;
  top: 15px !important;
  transform: rotate(-90deg);
  width: 2.5em !important;
  height: 0.7em !important;
}
#butao:hover #esq:before{
  width: 0.7em !important;
  height: 0.7em !important;
  transform: rotate(-20deg) !important;
  left: -45px !important;
  top: 30px !important;
  background-color: var(--corButao);
}