@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --sizeBoxNormal: 80px;
  --sizeBoxSmall: 70px;

  --dourado: #ffc700;
  --cinzaclaro: #8c8c8c;
  --font-family: "JetBrains Mono";
}
html{
  scroll-behavior: smooth;
}
.dividingline {
  background-color: var(--dourado);
  width: 3px;
  border: none;
  border-radius: 5px;
  height: 70%;
}
.dividingline:nth-child(2) {
  margin-top: 2em;
  height: 10%;
}
#linksBox {
  box-sizing: border-box;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-content: center;
}
footer {
  height: 100%;
  max-height: 350px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 1px #00000015;
  padding-top: 2em;
  padding-bottom: 1em;

}
footer h4 {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 1px;
}
footer p {
  font-family: var(--font-family);
}
#footer-Right {
  max-width: 360px;
  padding-bottom: 2em;
}
#footer-Left {
  padding-bottom: 2em;
  width: 360px;
}
header{
  z-index: 1;
  position: fixed;
  left: calc((100vw - 50vw) / 2);
  margin-top: 3em;
}
#Menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding-left: 13vw;
  padding-right: 13vw;

  box-sizing: border-box;

  width: 50vw;
  border-radius: 30px;

  background-color: white;
  box-shadow: 0px 0px 30px 0px #00000010;
}

.subTitulo {
  color: #000000;
  width: 89vw;
  font-family: var(--font-family);
  font-size: 34px;
  margin: 6vw;
}

@media (max-width: 950px) {
  #Box-Titulo-Links {
    justify-content: flex-start;
    width: 100%;
  }
  #Titulo {
    font-size: 6vw;
  }
  .subTitulo {
    font-size: 5vw;
  }
  #Box-Titulo-Links {
    width: 80vw;
  }
  #Background {
    display: none;
  }
  #Links {
    display: none;
  }
  #LinksBox {
    margin-bottom: 0em !important;
  }
  footer {
    padding-top: 1.5em;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  footer p {
    display: none;
  }
  #footer-Left{
    width: auto;
  }
  #line {
    display: none;
  }
}
