.box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    margin-right: 1.5em;
    margin-top: 1em;
    box-shadow: 0px 0px 30px 0px #00000030;
    background-color: white;
  }
  .box-normal{
    width: var(--sizeBoxNormal);
    height: var(--sizeBoxNormal);
  }
  .box-small{
    width: var(--sizeBoxSmall);
    height: var(--sizeBoxSmall);

  }
  .box-dourada {
    background-color: #ffc700;
  }
  .box-cinzaclaro {
    background-color: #8c8c8c;
  }
  
.icon {
    width: 35px;
    height: 35px;
  }
  