.box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 1px #00000010;
  background-color: white;
}
.box:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 1px #00000010;
}
.box-normal {
  width: var(--sizeBoxNormal);
  height: var(--sizeBoxNormal);
}
.box-small {
  width: var(--sizeBoxSmall);
  height: var(--sizeBoxSmall);
  margin: 0%;
}
.box-cinza {
  background-color: #8b8b8b;
}
.box-dourada:hover {
  box-shadow: 0px 0px 20px 2px #ffc70070;
}
.box-bordercinza {
  background-color: transparent;
  border: solid 2px #8b8b8b;
}
.box-bordercinza:hover {
  box-shadow: 0px 0px 20px 2px #8c8c8c70;
}

.icon {
  width: 35px;
  height: 35px;
}
.icon-small {
  width: 30px;
  height: 30px;
}
