#modalTable{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #00000040;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
}
#tableExpMobile{
    display: none;
    position: fixed;
    top: calc(50vh - 130px);
    left: calc(50vw - 170px);
    background-color: white;
    width: 340px;
    height: 260px;
    border-radius: 15px;
    opacity: 0%;
    z-index: 11;
    justify-content: center;
}
#tableMobile{
    width: 100%;
    display: flex;
    justify-content: center;
}
#buttonModal{
    margin-top: 3em;
    display: none;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px #00000013;
    background-color: #f9f9f9;
}
@keyframes modalAnimation{
    0%{
        opacity: 0%;
        transform: scale(0.9);
    }
    100%{
        opacity: 100%;
        transform: scale(1);

    }
}
@keyframes backgroundAnimation {
    0%{
        background-color: #ffffff30;
    }
    100%{
        background-color: #00000040;
    
    }
}